/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

h1 {
  font-family: "Playfair Display", cursive;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: center;
}

ul li {
  list-style: none;
  font-family: "Questrial", sans-serif;
  /* font-size: 16px; */
}

.parallax-image {
  position: relative;
  background-attachment: fixed;
  height: 80px;
  background-image: url(../images/parallax.jpg);
  background-position: 0px 200px;
  background-size: cover;
}

button {
  color: #fff;
  border: none;
  background: #8a6138;
  padding: 5px 10px;
  margin-top: 0px;
  margin: 20px 10px 10px;
  font-family: "Bitter", serif;
}

button:hover {
  cursor: pointer;
  background: #980021;
  color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * *
Header (navbar)
* * * * * * * * * * * * * * * * * * * * */

header {
  height: 68px;
  background: #2c9c91;
  font-weight: 300;
  font-family: "Bitter", serif;
  justify-content: flex-end;
}

header ul {
  margin-bottom: 0;
  display: flex;
  list-style: none;
  font-size: 18px;
}

header li {
  margin-right: 22px;
}

header ul li a {
  font-family: "Bitter", serif;
  height: 68px;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  background: rgba(255, 255, 255, 0.306);
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * *
Mobile Menu
* * * * * * * * * * * * * * * * * * * * */

.menu {
  width: 200px;
  opacity: 0.9;
  background: #fe5f55;
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s;
  transform: translate(0px, 0px);
  z-index: 100;
  display: none;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.menu li {
  padding: 0;
  font-family: "Bitter", serif;
  font-size: 18px;
  color: #fff;
  width: 100%;
}

.menu li:hover {
  background: #d8d8d841;
}

.closed {
  transform: translate(500px, 0px);
}

#close-button {
  background: transparent;
  border: none;
}

#close-button i {
  color: #fff;
}

#hamburger-button {
  display: none;
  background: transparent;
  border: none;
}

#hamburger-button i {
  color: #fff;
}

#hamburger-button i:hover {
  color: #3f3f3f;
}

@media screen and (max-width: 600px) {
  .menu {
    display: block;
  }
  header ul {
    display: none;
  }
  #hamburger-button {
    display: block;
    color: #fff;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */

.hero {
  background-attachment: fixed;
  height: 650px;
  padding: 10px 10px;
  background-image: url(../images/flowers.jpg);
  background-position: 80% 30%;
  background-size: cover;
}
.hero-content {
  width: 40%;
  margin-top: 0px;
  margin: 140px;
  margin-left: 188px;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.13em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 5px;
}

.hero h3 {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: "Archivo Black", sans-serif;
  font-size: 3.06em;
}

.hero h4 {
  margin-left: 5px;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: "Libre Franklin", sans-serif;
}

@media screen and (max-width: 700px) {
  .hero {
    height: 460px;
    background-position: 36% 10%;
  }

  .hero-content {
    width: 60%;
    padding-top: 80px;
    margin: 20px;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-content h3 {
    font-size: 32px;
  }

  .hero-content h4 {
    display: none;
  }
}

@media screen and (max-width: 481px) {
  .hero-content {
    width: 100%;
  }
  .hero-content h3 {
    margin-bottom: 50px;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */

main {
  min-height: 560px;
  padding: 15px 0px 0px;
  width: 100%;
  margin: 5px auto 0;
}

/* HOMEPAGE */
/* Projects Block */

.projects-hp-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projects-hp-block h2 {
  font-size: 34px;
}

main .projects-hp-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .projects-hp-box {
  margin: 10px 90px;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .projects-hp-box img,
h6,
p {
  margin: 10px;
  text-align: center;
}

main .projects-hp-box h6 {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #4d4d4d;
}

main .projects-hp-box p {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

main .projects-hp-box hr {
  border: 0.5px solid #3f3f3f64;
  width: 30px;
  margin: 5px auto;
}

/* icons homepage */
main .projects-hp-box img {
  height: 82px;
  width: 82px;
}

/* * * * * * * * * * * * * * * * * * * * *
About Page
* * * * * * * * * * * * * * * * * * * * */

.about-hero {
  background-color: #fe5f55;
  height: 160px;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  position: relative;
}

.about-hero-content {
  min-width: 200px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.about-hero-content h2 {
  margin: 10px;
  font-size: 50px;
  color: #fff;
}

.about {
  padding: 50px 10px;
  display: flex;
  justify-content: center;
}

.about-card {
  width: 50%;
}

.about-content {
  width: 100%;
}

.about-content h6 {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #4d4d4d;
  text-align: left;
  margin: 0 0 20px;
}
.about-content p {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px;
}

.about-image {
  min-width: 50%;
  margin-bottom: 30px;
}

.about-image img {
  width: 100%;
}

.about-card button {
  margin: 15px;
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about-hero-content h2 {
    margin: 16px;
    font-size: 32px;
    color: #fff;
  }

  .about-card {
    min-width: 100%;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
Contact Page
* * * * * * * * * * * * * * * * * * * * */

.contact-hero {
  background: #fe5f55;
  background-attachment: fixed;
  height: 160px;
  background-size: cover;
  margin: 0;
  position: relative;
}

.contact-hero-content {
  min-width: 200px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.contact-hero-content h2 {
  margin: 10px;
  font-size: 50px;
  color: #fff;
}

.contact {
  padding: 50px 10px;
}

.contact-card {
  width: 50%;
}

.contact-content {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.contact-content h6 {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #4d4d4d;
  text-align: left;
  margin: 0 0 20px;
}
.contact-content p {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px;
}

.contact-content a {
  color: #2c9c91;
}

.contact-content a:hover {
  text-decoration: underline;
}

.contact-image {
  min-width: 50%;
  margin-bottom: 30px;
}

.contact-image img {
  max-width: 100%;
}

.contact-form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.contact-form input {
  font-size: 16px;
  margin: 26px 5px 10px 5px;
  height: 40px;
  width: 250px;
}
.contact-form textarea {
  font-size: 16px;
  margin: 20px 5px 10px 5px;
  height: 200px;
  width: 740px;
}

.contact-form p {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px;
}

@media (max-width: 1000px) {
  .contact-hero-content h2 {
    margin: 16px;
    font-size: 32px;
  }
  .contact-card {
    min-width: 80%;
  }
  .contact-image {
    display: none;
  }
  .contact-form {
    flex-direction: column;
    align-items: center;
  }
  .contact-form input,
  textarea {
    border: solid 1px #686868a3;
    width: 80%;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
Projects Page
* * * * * * * * * * * * * * * * * * * * */

.projects-hero {
  background: #fe5f55;
  background-attachment: fixed;
  height: 160px;
  background-size: cover;
  margin: 0;
  position: relative;
}

.projects-hero-content {
  min-width: 200px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.projects-hero-content h2 {
  margin: 10px;
  font-size: 50px;
  color: #fff;
}

.projects {
  padding: 50px 10px;
  display: flex;
  justify-content: center;
}

.projects-card {
  width: 50%;
}

.projects-content {
  width: 100%;
  font-family: "Questrial", sans-serif;
}

.projects-content ul li {
  font-size: 18px;
}

.projects-content h6 {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #4d4d4d;
  text-align: left;
  margin: 0 0 20px;
}

.projects-content p {
  text-align: left;
  margin: 0 0 10px;
  font-size: 18px;
}

.projects-image {
  min-width: 50%;
  margin-bottom: 30px;
}

.projects-image img {
  width: 100%;
}

.projects-card button {
  margin: 15px;
}

@media (max-width: 700px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
  .projects-card {
    min-width: 100%;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */

footer {
  width: 100%;
  background: #2c9c91;
}

footer .row {
  justify-content: center;
  margin-left: 60px;
}

.container {
  padding: 30px;
}

footer h2 {
  color: #4d4d4d;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900px;
  margin: 0 0 10px 0;
  font-family: "Bitter", serif;
  text-align: left;
}

footer ul {
  margin: 0 0 20px 0;
  padding: 0;
}

footer li {
  font-family: "Questrial", sans-serif;
  vertical-align: middle;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #4d4d4d;
}

.social-icons {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.social-icons li {
  flex: 1;
}

#socialmediatag {
  color: #fff;
  margin-left: 16px;
}

footer p {
  color: rgba(255, 255, 255, 0.639);
  font-size: 12px;
  font-family: "Libre Franklin", sans-serif;
  margin: 15px;
}
